/node_modules
/vendor
/var
/public/bundles
/public/build
/.env.local
/.env.local.php
/.env.*.local
/.env.dev
/yarn-error.log
/.cache
/config/reference.php

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
